CompileFlags:
  Add: [
    -std=c++20,
    -stdlib=libc++,
    -Iinclude,
    -Ideps/VulkanMemoryAllocator/include,
    -DVULKAN_HPP_NO_EXCEPTIONS,
    -DVULKAN_HPP_RAII_NO_EXCEPTIONS,
    -DVULKAN_HPP_NO_SMART_HANDLE,
    -DVULKAN_HPP_NO_CONSTRUCTORS,
    -DVULKAN_HPP_NO_UNION_CONSTRUCTORS,
    -DVULKAN_HPP_NO_STRUCT_SETTERS,
    -DVULKAN_HPP_ASSERT_ON_RESULT=(void(0)),
    # -DVB_BUILD_CPP_MODULE,
  ]